body {
  padding-left: 50px;
  padding-right: 50px;
}
button {
  padding: 20px 40px;
  border-radius: 7px;
  color: inherit;
  background-color: #fcff00;
  cursor: pointer;
}
span {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.header_title {
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
}
p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.header_background_image {
  background-image: url('../img/Hue_Saturation.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.header_logo {
  z-index: 6;
  position: absolute;
  top: -35px;
  right: 748px;
}
.header_image1 {
  z-index: 3;
}
.header_image2 {
  z-index: 4;
}
.header_image3 {
  z-index: 5;
}
.package_title {
  font-size: 30px;
  font-weight: 700;
  color: #416df4;
}
.package_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.package_button {
  padding: 10px 20px;
  border: 1px solid #671d00;
  border-radius: 7px;
  color: #671d00;
  background-color: transparent;
  cursor: pointer;
}
.order {
  background-image: url('../img/background wall.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.orders_buttons {
  display: flex;
  flex-direction: column;
}
.orders_button {
  padding-left: 10px;
  border: 1px solid #671d00;
  width: 632px;
  height: 94px;
  display: grid;
  grid-template-columns: 3fr 9fr 3fr 3fr;
  grid-template-rows: 1fr;
  justify-items: start;
  align-items: center;
}
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buy button {
  display: flex;
  flex-direction: column;
}
