body {
  padding-left: 4em;
  padding-right: 4em;
}
button {
  padding: 20px 40px;
  border-radius: 7px;
  color: inherit;
  background-color: #fcff00;
  cursor: pointer;
}
span {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.header_title {
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
}
p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.header_background_image {
  overflow: hidden;
  height: 896px;
}
.header_img1 {
  z-index: 3;
}
.header_img2 {
  height: 876px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_img3 {
  z-index: 2;
}
.header_text {
  z-index: 7;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.package_title {
  font-size: 30px;
  font-weight: 700;
  color: #416df4;
}
.package_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.package_button {
  padding: 10px 20px;
  border: 1px solid #671d00;
  border-radius: 7px;
  color: #671d00;
  background-color: transparent;
  cursor: pointer;
}
.order {
  width: 93%;
  overflow: hidden;
  z-index: 1;
  background-image: url('../img/background wall.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.orders_buttons {
  display: flex;
  flex-direction: column;
}
.orders_button {
  padding-left: 10px;
  border: 1px solid #671d00;
  width: 632px;
  height: 94px;
  display: grid;
  grid-template-columns: 3fr 9fr 3fr 3fr;
  grid-template-rows: 1fr;
  justify-items: start;
  align-items: center;
}
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buy button {
  display: flex;
  flex-direction: column;
}
